<h1>Threads</h1>
<a href="#/threads/add" id="btn-add-thread" class="btn btn-primary">Add</a>
{{#if this}}
{{#each this}}
    <h2><a href="#/threads/{{id}}">{{title}}</a></h2>
    <strong>Created at {{postDate}}</strong>
   created by <a href="#/users/{{user.id}}">{{user.id}}</a>
{{/each}}
{{else}}
<h2>No threads</h2>
{{/if}}
